

/* Gives background */
html {
  background-image: linear-gradient(180deg, #e7e4f1, #aa92bd);
  background-repeat: repeat-x;
  background-color: #aa92bd;
}
body {
    background-image: linear-gradient(180deg, #e7e4f1, #aa92bd);
    background-repeat: repeat-x;
    background-color: #aa92bd;
    height: 500px;
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
}

/* Margin for form */
form {
  margin: 10px;
}

/* Show input in nice format */
input {
  display: block;
  max-width: 100px;
}
.ui-slider {
  width: 500px;
}

/*Border and text align only for the Multiplication Table*/
table, tr, td, th{
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    overflow: auto;
    margin: auto;
}

/*For all tables, set width and overflow */

table {
  display: block;
  max-width: 80%;
  max-height: 500px;
  overflow: auto;
  margin: auto;
}
/*
div {
  display: block;
  max-width: 80%;
  max-height: 500px;
  overflow: auto;
}
*/
tr, td, th{
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  color:black;
}

th {
  font-size: medium;
  background: black;
  color: white;
}
