
/* Body background */
body {
    background-image: linear-gradient(180deg, #e7e4f1, #aa92bd);
    height: 100vh;
}

#ScrabbleGame {}

#ScrabbleBoard {
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 70px;
}

#TileRack {
  padding: 3px;
  background: url(../HW8/graphics_data/Scrabble_Rack2.png);
  background-size: 600px;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.tile {
  margin: 5px;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  display: inline-block;
}
.tile.ui-draggable-dragging {
  border: 5px;
  border-color: green;
}

.boardTile{
  width: 70px;
  height: 70px;
  border: solid 2px black;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.doubleLetter{}

.doubleWord{}



#boardTile-0 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-1 { background: url(../HW8/graphics_data/Scrabble_Board_Double_Letter.png); }
#boardTile-2 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-3 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-4 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-5 { background: url(../HW8/graphics_data/Scrabble_Board_Double_Word.png); }
#boardTile-6 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-7 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
#boardTile-8 { background: url(../HW8/graphics_data/Scrabble_Board_Double_Letter.png); }
#boardTile-9 { background: url(../HW8/graphics_data/Scrabble_Board_Normal.png); }
